.home__header {
   width: 100%;
   display: flex;
   justify-content: center;

   .home_header__inner {
      width: 1050px;

      .home_header__text {
         width: 100%;

         .text__wrapper {
            display: flex;
            align-items: center;

            &:last-child {
               margin-top: -15px;
            }

            h2 {
               font-size: 80px;
               font-family: var(--font-regular);
               color: var(--color-blue);
               height: 96px;
               text-wrap: nowrap;
            }

            .bordered__box {
               width: 215px;
               height: 44px;
               border-radius: 20px;
               border: 2px solid var(--color-black);
               margin-right: 22px;
            }
         }
      }
   }
}