.home__about {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding-top: 103px;

   .home_about__inner {
      width: 1050px;

      .about__header__text {

         .text__wrapper {
            h2 {
               height: 94px;
               font-size: 77px;
               color: var(--color-blue);
               font-family: var(--font-regular);
               text-wrap: nowrap;
            }

            &:nth-child(2) {
               margin-top: -15px;
               display: flex;
               align-items: center;

               h2 {
                  color: var(--color-black);
               }

               .bordered__box {
                  min-width: 281px;
                  width: 281px;
                  height: 43px;
                  border-radius: 20px;
                  border: 2px solid var(--color-black);
                  margin-top: -20px;
                  margin-right: 13px;
               }
            }
         }
      }

      .about__wrapper {
         width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: flex-start;
         padding-top: 67px;

         .wrapper__title {
            width: 290px;
            height: 63px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--background-blue);
            border-radius: 20px;
            margin-bottom: 67px;

            h2 {
               color: var(--color-white);
               font-size: 40px;
               font-family: var(--font-bold);
            }
         }

         .about__body {
            display: flex;
            align-items: center;

            .wrapper__1 {
               margin-right: 35px;
            }

            .wrapper__2 {
               width: 691px;

               span {
                  font-size: 20.9px;
                  font-family: var(--font-regular);
                  color: var(--color-black);
                  line-height: 1.55;
               }
            }
         }


      }
   }
}


/// MEDIA QUERIES

@media screen and (max-width: 1174px) {
   .home__about {
      padding: 103px 64px 0;

      .home_about__inner {
         width: 100%;

         .about__header__text {
            .text__wrapper {

               h2 {
                  font-size: 5vw !important;
                  height: 7vw !important;
               }

               .bordered__box {
                  width: 20vw !important;
                  min-width: 20vw !important;
                  height: 4vw !important;
               }
            }
         }

         .about__wrapper {
            padding-top: 45px;

            .wrapper__title {
               margin-bottom: 45px;
            }

            .about__body {
               width: 100%;
            }
         }
      }
   }
}

@media screen and (max-width: 878px) {
   .home__about {
      padding: 85px 40px 0;

      .home_about__inner {
         .about__header__text {
            .text__wrapper {
               h2 {
                  height: 8vw !important;
               }
            }
         }

         .about__wrapper {

            .about__body {
               flex-direction: column;

               .wrapper__1 {
                  margin-right: 0;
                  margin-bottom: 35px;
               }

               .wrapper__2 {
                  width: 100%;

                  span {
                     text-align: center;
                     display: block;
                     font-size: 20px;
                  }
               }
            }
         }
      }
   }
}

@media screen and (max-width: 600px) {
   .home__about {
      padding: 85px 24px 0;

      .home_about__inner {
         .about__header__text {
            .text__wrapper {
               h2 {
                  height: 10vw !important;
               }

               .bordered__box {
                  margin-right: 8px !important;
                  margin-top: -5.5vw !important;
               }
            }
         }

         .about__wrapper {
            padding-top: 35px;

            .wrapper__title {
               width: 327px;
            }

            .about__body {

               .wrapper__1 {
                  width: 327px;

                  img {
                     width: 100%;
                  }
               }

               .wrapper__2 {

                  span {
                     font-size: 16px;
                  }
               }
            }
         }
      }
   }
}