.home__header {
   width: 100%;
   display: flex;
   justify-content: center;

   .home_header__inner {
      width: 1050px;

      /// HEADER TEXT START
      .home_header__text {
         width: 100%;
         margin-bottom: 28px;

         .text__wrapper {
            display: flex;
            align-items: center;

            &:last-child {
               margin-top: -15px;
            }

            h2 {
               font-size: 78px;
               font-family: var(--font-regular);
               color: var(--color-blue);
               height: 96px;
               text-wrap: nowrap;
            }

            .bordered__box {
               min-width: 215px;
               width: 215px;
               height: 44px;
               border-radius: 20px;
               border: 2px solid var(--color-black);
               margin-right: 22px;
               margin-bottom: 10px;
            }
         }
      }

      /// HEADER TEXT END

      /// HEADER WRAPPER 1 START
      .home_header__wrapper1 {
         width: 100%;
         height: 364px;
         background: linear-gradient(90deg, #09F 0.74%, #46E9FF 98.78%);
         border-radius: 35px;
         display: flex;
         align-items: center;
         justify-content: space-between;
         margin-bottom: 16px;

         .text__wrapper {
            height: 100%;

            .wrapper__inner {
               height: 100%;
               display: flex;
               flex-direction: column;
               justify-content: space-between;
               align-items: flex-start;

               h2 {
                  font-size: 54px;
                  color: var(--color-white);
                  font-family: var(--font-bold);
                  margin: 57px 0 0 60px;
                  white-space: nowrap;
               }

               span {
                  font-size: 20px;
                  color: var(--color-white);
                  font-family: var(--font-bold);
                  margin: 0 0 45px 60px;
               }
            }
         }

         .image__wrapper {
            padding: 0 61px 0 0;
         }
      }

      /// HEADER WRAPPER 1 END

      /// HEADER WRAPPER 2 START
      .home_header__wrapper2 {
         width: 100%;
         height: 364px;
         background: var(--background-silver);
         border-radius: 35px;
         display: flex;
         align-items: center;
         justify-content: space-between;

         .text__wrapper {
            height: 100%;

            .wrapper__inner {
               height: 100%;
               display: flex;
               flex-direction: column;
               justify-content: space-between;

               h2 {
                  width: 509px;
                  margin: 76px 0 0 60px;
                  color: var(--color-black);
                  font-size: 40px;
                  font-family: var(--font-bold);
               }

               span {
                  width: 486px;
                  font-size: 14px;
                  color: var(--color-black);
                  font-family: var(--font-regular);
                  margin: 0 0 45px 60px;
                  letter-spacing: 0.91px;
               }
            }
         }

         .image__wrapper {
            padding: 0 100px 0 0;
         }
      }

      /// HEADER WRAPPER 2 END
   }
}


///MEDIA QUERIES

@media screen and (max-width: 1174px) {
   .home__header {
      padding: 0 64px;

      .home_header__inner {
         width: 100%;

         .home_header__text {
            .text__wrapper:nth-child(1) {
               margin-bottom: 10px;

               h2 {
                  font-size: 6.5vw;
                  height: 8vw;
               }
            }

            .text__wrapper:nth-child(2) {
               h2 {
                  font-size: 6.5vw;
                  height: 8vw;
               }

               .bordered__box {
                  width: 16vw;
                  min-width: 16vw;
                  min-height: 3.5vw;
                  height: 3.5vw;
                  margin-right: 12px;
                  margin-bottom: 2vw;
               }
            }
         }

         .home_header__wrapper1 {
            flex-direction: column;
            height: auto;
            padding: 0 40px;

            .text__wrapper {
               .wrapper__inner {
                  display: flex;
                  flex-direction: column;
                  align-items: center;

                  h2 {
                     margin: 35px 0 35px;
                     text-align: center;
                  }

                  span {
                     margin: 0;
                  }
               }
            }

            .image__wrapper {
               padding: 0;
            }
         }

         .home_header__wrapper2 {
            flex-direction: column;
            height: auto;
            padding: 0 40px;

            .text__wrapper {

               .wrapper__inner {
                  display: flex;
                  flex-direction: column;
                  align-items: center;

                  h2 {
                     font-size: 38px;
                     max-width: 450px;
                     width: 100%;
                     margin: 35px 0 35px;
                     text-align: center;
                  }

                  span {
                     max-width: 450px;
                     width: 100%;
                     text-align: center;
                     margin: 0 0 35px;
                  }
               }
            }

            .image__wrapper {
               padding: 0 0 35px 0;
            }
         }
      }
   }
}

@media screen and (max-width: 878px) {
   .home__header {
      padding: 0 40px;

      .home_header__inner {
         .home_header__text {
            display: none;
         }
      }
   }
}

@media screen and (max-width: 600px) {
   .home__header {
      padding: 0 24px;

      .home_header__inner {
         .home_header__wrapper1 {
            padding: 0 24px;

            .text__wrapper {
               .wrapper__inner {
                  h2 {
                     margin: 24px 0 24px;
                     font-size: 38px;
                     line-height: 1.2;
                  }

                  span {
                     font-size: 16px;
                     text-align: center;
                  }
               }
            }

            .image__wrapper {
               width: 275px;

               img {
                  width: 100%;
               }
            }
         }

         .home_header__wrapper2 {
            padding: 0 24px;

            .text__wrapper {
               .wrapper__inner {
                  h2 {
                     font-size: 24px;
                  }

                  span {
                     font-size: 16px;
                  }
               }
            }

            .image__wrapper {
               width: 275px;

               img {
                  width: 100%;
               }
            }
         }
      }
   }
}