/// NAVBAR START
.navbar {
   width: 100%;
   display: flex;
   justify-content: center;

   .navbar__inner {
      width: 1050px;
      padding: 34px 0 35px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .navbar__navs {
         ul {
            display: flex;
            align-items: center;

            a {
               text-decoration: none;
               margin-right: 28px;

               &:last-child {
                  margin-right: 0;
               }

               li {
                  font-size: 14px;
                  font-family: var(--font-bold);
                  color: var(--color-black);
                  cursor: pointer;
               }
            }
         }
      }
   }
}

/// NAVBAR END