:root {
  --font-bold: Nexa_Bold;
  --font-regular: Nexa_Regular;
  --font-light: Nexa_Light;
  --color-white: #fff;
  --color-black: #000;
  --color-blue: #0099FF;
  --color-gray: #83818D;
  --color-silver: #e5e5e5;
  --color-footer-border: #242137;
  --background-footer: #0C0A21;
  --background-silver: #F3F3F3;
  --background-blue: #0099FF;
  --background-black: #000;
  --background-white: #fff;
  --background-blue-hover: #0076c5;
  --transparent: transparent;
  --transition: 250ms ease;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-silver); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--background-blue);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--background-blue-hover);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  font-weight: normal;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size-adjust: auto;
}

@font-face {
  font-family: 'Nexa_Bold';
  src: url('./assets/fonts/Nexa_Bold.otf') format('OpenType');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa_Regular';
  src: url('./assets/fonts/Nexa_Regular.otf') format('OpenType');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa_Light';
  src: url('./assets/fonts/Nexa_Light.otf') format('OpenType');
  font-weight: normal;
  font-style: normal;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

html {
  scroll-behavior: smooth;
}